{{template "base/base.html" .}}
{{define "head"}}
<title>WebSocket 聊天室</title>
{{end}}
{{define "body"}}
<div class="container">
    <h3>用户名: <span id="uname">{{.UserName}}</span></h3>
    <h4>发送框:</h4>
    <form class="form-inline">
        <div class="col-md-6 form-group">
            <input id="sendbox" type="text" class="form-control" onkeydown="if(event.keyCode==13)return false;" required>
        </div>
        <button id="sendbtn" type="button" class="btn btn-default">发送</button>
    </form>
</div>

<div class="container">
    <h3>聊天记录:</h3>
    <ul id="chatbox">
        <li>欢迎加入</li>
    </ul>
</div>
{{end}}